.article {
    max-width: 735px;
    margin: 0 auto;
}

.article h1 {
    margin-bottom: 20px;
}

.article__intro {
    margin-bottom: 30px;
}

.article__nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.article p {
    margin-top: 10px;
    margin-bottom: 10px;
}
