.layout {
    display: grid;
    grid-template-columns: 268px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav main";
    min-height: 100vh;
}

.layout__navigation {
    position: fixed;
    z-index: 1;
    grid-area: nav;
    height: 100vh;
}

.layout__main {
    grid-area: main;
}
